@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #F0D7C8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F0D7C8;
    --foreground: #ededed;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 8px; 
}

::-webkit-scrollbar-thumb {
  background-color: #4C9644; 
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; 
}

